.grid-m{
	display: grid;
	grid-template-columns: 1fr;
}

.creative,.how,.head,.how .content .card,
.about,.projects,.footer,
.footer .top .follow,.footer .links,
.footer .links .content,
.footer .address,
.footer .address .content
{
	grid-template-rows: auto 1fr;
}

.projects .card{
	display: grid;
	grid-template-rows: auto auto;
	grid-template-columns: 1fr;
	position: relative;
}

.creative .content,.projects .content{
	grid-template-rows: auto auto auto auto;
}

.how .content,.about .content,
.footer .top{
	grid-template-rows: auto auto auto;
}

.footer .top .follow .content{
	grid-template-columns: repeat(4,auto);
	grid-template-rows: auto;
	justify-content: center;
	grid-column-gap: 1rem;
}

.creative .info{
	grid-template-columns: auto auto auto;
	grid-template-rows: auto;
    align-content: center;
}

.about .content .info{
	grid-template-rows: repeat(6,auto);
}

/*header*/

header{
	display: grid;
	grid-template-columns: 1fr 10fr;
	grid-template-rows: 1fr;
	align-items: center;
	justify-items: center;
	width: 100%;
	position: absolute;
	padding: 15px 10px;
}

header nav{
	display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: auto;
    align-items: center;
    justify-self: end;
    z-index: 11;
}

nav>ul{
	display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3,auto);
    text-align: center;
    grid-column-gap: 3rem;
    grid-column: 3;
}

nav>ul>li a{
    display: grid;
    align-items: center;
    text-decoration: none;
    color: #939393;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1.8px;
    font-weight: bold;
}

nav>ul>li a:hover{
	color: #f68632;
}

header nav ul li.last{
	align-self: center;
}

header #toggle, header label{
	position: absolute;
    top: 24px;
	display: none;
}

header label{
    right: 25px;
    color: #595454;
    font-size: 20px;
}

.dropdown{
	position: relative;
	z-index: 1;
}

.dropdown > a::after,.dropdown label::after{
	content: "\f107";
    position: absolute;
    left: 106%;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 15px;
}

.dropdown-content{
	position: absolute;
    border-radius: 4px;
    background: #fff;
    width: 317%;
    text-align: left;
    font-weight: bold;
    padding: 20px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s linear;
}

nav>ul>li:hover .dropdown-content{
	opacity: 1;
    visibility: visible;
}

.dropdown-content a{
    color: grey;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 1px;
    text-transform: capitalize;
}


#drop{
	display: none;
}

/* Mobile Navbar */

@media screen and (max-width: 800px){

	header nav{
		width: 100%;
		background: #f5f3fb;
		grid-template-columns: auto;
		display: none;
	}

	nav>ul>li a{
		height: 50px;
		color: #5f5d5d;
    	font-weight: bold;
	}

	header label{
		display: block;
		cursor: pointer;
	    color: #333;
	        font-size: 24px;
	        font-weight: bold;
	        padding-top: 6px;
	}

	.buttons li a{
		height: 50px;
    color: #5f5d5d;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    font-size: 14px;
	}

	header #toggle:checked ~ nav{
		display: grid;
		padding-top: 25px;
	}

	header nav .btn-link {
    width: 42%;
    margin: 20px 0;
	}

	nav>ul{
		display: grid;
    	grid-template-rows: repeat(5,auto);
    	grid-template-columns: 1fr;
    	text-align: left;
    	grid-column: 1;
	}

	nav>ul>div li{
		border-top: 1px solid #c4bebe;
		margin: 0 15px;
		padding: 8px 0;
	}

	nav >ul>li:first-child{
		border-top: none;
	}

	header{
		grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    background: none;
    position: relative;
    background: #f5f3fb;
    border-bottom: 1px solid #d4d1d1;
    box-shadow: 2px 2px 5px #d6d1d1;
	}

	header .logo{
	height: 70px;
    display: grid;
    align-items: center;
    justify-self: start;
    padding-left: 10px;
	}

	.dropdown-content {
	position: static;
	padding-left: 20px;	
    border: none;
    width: 100%;
    display: none;
	}

	.dropdown>a{
		visibility: hidden;
	}

	.dropdown>label{
		left: 0px;
    	color: #5f5d5d;
    	font-weight: bold;
    	line-height: 5px;
		font-size: 14px;
		text-transform: uppercase;
		letter-spacing: 1.8px;
		margin: 0 15px;
	}

	#drop + .dropdown-content{
		display: none;
	}

	#drop:checked + .dropdown-content{
		display: block;
	}
}


/*Header Ends*/




/*styling*/

*{
	box-sizing: border-box;
}

html{
	font-size: 62.5%;
}

body{
	text-align: center;
	font-size: 1.6rem;
	line-height: 1.6;
    font-family: 'PT Serif', serif;
}

.p-all {
    padding: 4rem 2rem 1rem 2rem;
}

@media screen and (min-width: 800px) {
    .p-all {
        padding: 5rem 10rem 1rem 10rem;
    }
}

.img{
	width: 100%;
	height: auto;
}

.bg-img{
	background-image: url("images/bg-76.svg");
	background-repeat: no-repeat;
    background-position: 38% -34%;
}

.bg-img1{
	background-image: url("images/bg-75.png");
	background-repeat: no-repeat;
    background-position: 47% 101%;
}

.color-grey{
	color: rgb(147, 147, 147);
}

.color-orange{
	color: #f68632;
}

.light-grey{
	color: #808291;
}

.font-36{
	font-size: 36px;
}

.font-14{
	font-size: 14px;
}

.font-30{
	font-size: 30px;
}

.font-20{
	font-size: 20px;
}

.font-18{
	font-size: 18px;
}

.font-26{
	font-size: 26px;
}

.font-14{
	font-size: 14px;
}

.font-bold{
	font-weight: bold;
}

.btn{
	cursor: pointer;
    background: #f68632;
    border-radius: 4px;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 20px;
    font-weight: bold;
    outline: none;
    border: none;
    color: #fff;
    transition: all 0.3s linear;
}

.btn:hover{
	background: #ed5f37;
    box-shadow: 2px 2px 3px grey;
}

.creative .title .shadow{
	text-shadow: 2px 2px 3px #bfbdc2;
}

.creative .info p:nth-child(2),
.creative .info p:nth-child(3){
	position: relative;
}

.creative .info p:nth-child(2)::before,
.creative .info p:nth-child(3)::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 2px;
	background-color: #939393;
}

.creative,.how,.about,.projects{
	grid-row-gap: 4rem;
}

.about .content{
	grid-row-gap: 2rem;
}

.about{
	grid-column-gap: 5rem;
}

.how .content .card{
	background: #fff;
    padding: 5rem 2rem;
    font-size: 18px;
    text-align: left;
    color: #808291;
    grid-row-gap: 3rem;
    box-shadow: 0 25px 70px rgba(0, 0, 0, 0.07);
    border-radius: 8px;
}

.how .card-shadow{
	box-shadow: 2px 2px 10px #f5f3f3;
}

.how .card .text p::before,
.info div p::before,
.how ul li::before, .about ul li::before{
	content: "\f00c";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	color: #f68632;
	margin-right: 10px;
	margin-left: -1.3em;
}

.how ul,.about ul{
	padding-left: 25px;
}

.how ul li,.about ul li{
	padding-bottom: 1.5rem;
}

.about .content .info{
	font-size: 16px;
    text-align: left;
    color: #808291;
}

.how .content{
	grid-column-gap: 4rem;
}

.about .head, .how .head,.projects .heading{
	text-align: left;
}

.projects  .card  .image{
	height: 175px;;
    background-size: cover;
    background-position: center;
    border-radius: 6px;
}


.pic1{
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(images/secure.jpg);
}

.pic2{
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
	url("images/compliant.png");
}

.pic3{
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(images/proactive.jpg);
}

.pic4{
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(images/encryption2.jpg);
}

.projects .card .text{
	box-shadow: 0 25px 70px rgba(0, 0, 0, 0.07);
    padding: 10px 15px;
    text-align: left;
    position: absolute;
    background: #fff;
    bottom: -43px;
    width: 80%;
    justify-self: center;
    cursor: pointer;
    transition: all 0.5s linear;
    border-radius: 6px;
}
.projects .card .text:hover{
	bottom: 34px;
}


.projects .card:hover .text{
	bottom: 34px;
	cursor: pointer;
}



.footer{
	margin-top: 8rem;
	border-top: 1px solid #efeded;
}

.footer .top{
	padding: 4rem;
}

.footer .top .title{
	color: #333;
    font-size: 18px;
	font-weight: bold;
}

.footer .top i{
	font-size: 16px;
}

.creative .content,.how .content{
	grid-row-gap: 2rem;
}

.footer .top{
	grid-row-gap: 3rem;
	justify-items: start;
    text-align: left;
}

.footer .follow,
.footer .links, .footer .address{
	grid-row-gap: 1rem;
}

.footer a{
	text-decoration: none;
	color: #808291;
}

.footer a:hover{
	color: #f68632;
}

.footer .address .content{
	text-align: left;
	grid-row-gap: 1.5rem;
}
.address .content .contact{
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto;
	grid-column-gap: 1rem;
}

.footer .address i{
	color: #333333;
	margin-top: 4px;
}

.footer .bottom{
	background: #333;
    padding: 1.5rem;
    color: #fff;
}

.footer .copyright{
	font-size: 12px;
}

.card .icon{
	justify-self: center;
}

.card .icon i{
	font-size: 50px;
    color: #f68632;
}

.projects .content{
	grid-row-gap: 8rem;
}

.follow .content a:hover{
	color: #f68632;
}

.button{
		justify-self: start;
}

.footer .top .content{
	font-size: 14px;
}

.creative .btn-block {
    margin-top: 4rem;
}


/*tab view*/
@media screen and (min-width: 500px){
	.grid-t{
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto;
	}

	.creative{
		grid-template-columns: 40% 50%;
	}

	.creative .content{
		align-content: center;
	}

	.how .content{
		grid-template-rows: auto;
		grid-template-columns: 1fr 1fr 1fr;
	}

	.about .image-container{
		width: 70%;
    	margin: auto;
	}

	.about .content{
		grid-row-gap: 1rem;
	}

	.how ul li{
		font-size: 16px;
	}

	.projects .content{
	grid-template-rows: auto;
	grid-column-gap: 2rem;
	}

	.footer .top{
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: auto;
	}

}	


/*desktop view*/
@media screen and (min-width: 992px){
	.grid-d{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: auto;
	}

	.creative{
		grid-template-columns: 1fr 1fr;
	}

	.about{
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
	}

	.projects .content{
	grid-template-columns: repeat(4,1fr);
	}

	.footer .top{
		text-align: left;
		grid-template-columns: 1fr 1fr 1fr 2fr;
	}

	.footer .top .follow .content{
		justify-content: start;
	}

	.about img{
		padding-top: 5rem;
	}

	.about .content {
    	grid-row-gap: 1rem;
	}

	.creative .btn-block button{
		font-size: 18px;
	}

	.projects{
		padding-bottom: 5rem;
	}

	.about .image-container {
    	width: 100%;
	}

	.dropdown-content ul li{
		padding-bottom: 8px;
	}

	.creative .title{
	font-size: 45px;
	}

	.creative .content .desc{
		font-size: 22px;
	}

	.how{
		padding-bottom: 100px;
	}

	.how .content .card:nth-child(2){
		position: relative;
    	top: 30px;
	}
	
	.how .content .card:nth-child(3){
		position: relative;
    	top: 60px;
	}

	.creative .info{
		font-size: 18px;
	}

	header nav .buttons{
	display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 16px;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1.8px;
    font-weight: bold;
}

.buttons li a{
	text-decoration: none;
    color: #939393;
    box-shadow: 1px 2px 3px #bbb7b7;
    background: #fff;
    padding: 14px;
    border-radius: 4px;
}

.buttons li a.orange{
	background: #f89b00;
	color: #fff;
}

.buttons li a:hover{
	box-shadow: 2px 2px 10px #bbb7b7;
}

/*nav .dropdown-content ul li{
	position: relative;
}

nav .dropdown-content ul li::before{
	position: absolute;
	top:0;
	left: 0;
	content: "\f061";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	color: #e5735c;
	margin-right: 10px;
	left: -22px;
}*/

	/*.how .card{
		position: relative;
	}

	.how .card::before{
		content: "";
		position: absolute;
		top:0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #f68632;
		opacity: 0;
		transition: all 0.5s linear;
		z-index: -1;

	}

	.how .card:hover::before{
		cursor: pointer;
		transform: scale(0.8);
		opacity: 1;
	}
*/

}